extends ./layouts/main.pug

block variables
  - var pageClass = "index-page";
  - var title = "FSD/TOXIN";

block content
  section
    .container
      .item__title= "Привет, мир"
      p.item__subtitle= "Эта строка должна быть на русском"
      //- +item("Привет, мир!", "Это строка должна быть на русском.")
      img(src=require("@images/img2.jpg").default width="100" alt="men")
  section
    .container
      +item("Hello pug!", "Jade - node template engine")
      img(src=require("@images/img3.jpg").default width="100" alt="women")
  section
    .container
      +item("Hello Webpack!", "Webpack - engine for collecting files")
      img(src=require("@images/img2.jpg").default width="100" alt="men")
  button(id="requireButton") dynamic-require test!
  button(id="importButton") dynamic-import test!

  //script
  //  app.welcome("something about index.pug?")
  //block scripts
  //  script(src=htmlWebpackPlugin.files.js[2])
